<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div class="permission-denied-icon">
        <img
          src="./../../../../assets/images/permissiondenied.png"
          alt="Permission Denied"
          width="100"
          height="100"
        />
      </div>
      <h2 class="mt-4">Access Denied</h2>
      <p>You do not have permission to access this page.</p>
      <button class="btn btn-primary mt-4" (click)="navigateToHome()">
        Go to Home
      </button>
    </div>
  </div>
</div>
