<div class="header">
    {{pageTitle|translate}}
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-6 mb-3">
          <div class="main-container h-100">
            <div class="row ">
             
               
               <div class="col-xl-12 mb-3">
              <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                           [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange()" placeholder="{{ 'FinancialCharts.year' | translate }}">
                </ng-select>
              </div>
            </div>
           

            <ng-container *ngIf="seriesData.length">
              <app-bar-chart [categories]="categories" [seriesData]="seriesData" [useDynamicColors]="true">
              </app-bar-chart>
            </ng-container>
          </div>
        </div>

        <div class="col-xl-6 mb-3 h-100">
          <div class="main-container">
            <div class="row">
              <div class="col-xl-12 mb-3">
                <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                           [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange('changeEntit')" placeholder="{{ 'FinancialCharts.entity' | translate }}">
                </ng-select>
              </div>
            </div>
            <ng-container *ngIf="seriesData2.length">
              <app-pie-chart [categories]="categories2" [chartType]="'pie'" [donut]="true" [seriesData]="seriesData2">
              </app-pie-chart>
            </ng-container>
          </div>
        </div>
    </div>
</div>
