 <div class="header">
    {{pageTitle|translate}}
</div> 
<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-xl-6 mb-3">
            <div class="main-container h-100">
                <ng-container *ngIf="!isComparission">

                    <div class="row ">
                        <div class="col-xl-6 mb-4">
                            <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                                [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange('changeEntit')" placeholder="{{'sponsorshipchart.entity'|translate}}">
                            </ng-select>
                        </div>
                    </div>
                  
                </ng-container>
                <ng-container *ngIf="isComparission">
                    <!--<div class="mb-4  ">
                      <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                                [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="4"
                                (change)="onEntityChange(4,'selectedEntity')" placeholder="{{ 'FinancialCharts.entity' | translate }}">
                            </ng-select>
                    </div>-->
                    <div class="d-flex gap-3 mb-4">
                        <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                                [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="2"
                                (change)="onEntityChange(2,'selectedYearId')" placeholder="{{ 'FinancialCharts.year' | translate }}" style="width: calc(100% - 70px);">
                            </ng-select>
                        <button class="btn btn-gold btn-chart"
                            [disabled]="!(selectedYearId.length&&selectedEntity.length)"
                            (click)="onYearChange('', 13)">{{ 'FinancialCharts.start' | translate }}</button>
                    </div>
                     <!--<div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesbytypeofsponsorship'">
                             <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                [(ngModel)]="selectedsponsorshipCategory" [closeOnSelect]="true"
                                class="ng-select-custom" placeholder=" {{ 'sponsorshipchart.byTypeOfSponsorship' | translate }}">
                            </ng-select>
                    </div>
                    <div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesbyofficeoftheEntity'">
                             <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                [(ngModel)]="selectedSponsorOffice" [closeOnSelect]="true" class="ng-select-custom" placeholder="{{ 'sponsorshipchart.byEntityOffice' | translate }}">
                            </ng-select>

                    </div>
                    <div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesaccordingtonationality'">


                        <ng-select class="ng-select-custom" name="nationalitySelect2"
                            [(ngModel)]="selectednationalitySelect2Obj" [items]="nationalitySelect2" bindLabel="text"
                            bindValue="id" [typeahead]="nationalitySearchInput$" [loading]="loadingnationality"
                            [virtualScroll]="true" (scrollToEnd)="loadMorenationality()"
                            (change)="onnationalitySelect2Change($event)" (search)="onnationalitySearch($event)" placeholder="{{ 'AidRequestsResourceName.nationality' | translate }}">
                        </ng-select>
                    </div>-->


                </ng-container>
                <ng-container *ngIf="seriesData.length">
                    <app-bar-chart [categories]="categories" [seriesData]="seriesData" [useDynamicColors]="true">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

        <div class="col-xl-6 mb-3 h-100">
            <div class="main-container">
                <div class="d-flex gap-3 mb-4" *ngIf="defaultChartType == 'General'">
                    <ng-select [items]="chartTypes" bindLabel="text" bindValue="id" [(ngModel)]="selectedChart1"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart1, "categories2", "seriesData2")' placeholder="Type">
                        </ng-select>

                </div>
                <div class="d-flex gap-3 mb-4">
                  <ng-container *ngIf="!isComparission">
                    <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                               [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange('changeEntit')" placeholder="{{ 'Common.Select' | translate }}" style="width: calc(100% - 70px);">
                    </ng-select>
                  </ng-container>

                  <ng-container *ngIf="isComparission">
                    <div class="mb-4" style="width: calc(100% - 70px);">
                      <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                                 [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="4"
                                 (change)="onEntityChange(4,'selectedEntity')" placeholder="{{ 'FinancialCharts.entity' | translate }}">
                      </ng-select>
                    </div>

                    <div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesbytypeofsponsorship'" style="width: calc(100% - 70px);">
                      <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                 [(ngModel)]="selectedsponsorshipCategory" [closeOnSelect]="true"
                                 class="ng-select-custom" placeholder=" {{ 'sponsorshipchart.byTypeOfSponsorship' | translate }}">
                      </ng-select>
                    </div>

                    <div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesbyofficeoftheEntity'" style="width: calc(100% - 70px);">
                      <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                 [(ngModel)]="selectedSponsorOffice" [closeOnSelect]="true" class="ng-select-custom" placeholder="{{ 'sponsorshipchart.byEntityOffice' | translate }}">
                      </ng-select>
                    </div>

                    <div class=" mb-3" *ngIf="defaultChartType == 'comparisonofCasesaccordingtonationality'" style="width: calc(100% - 70px);">
                      <ng-select class="ng-select-custom" name="nationalitySelect2"
                                 [(ngModel)]="selectednationalitySelect2Obj" [items]="nationalitySelect2" bindLabel="text"
                                 bindValue="id" [typeahead]="nationalitySearchInput$" [loading]="loadingnationality"
                                 [virtualScroll]="true" (scrollToEnd)="loadMorenationality()"
                                 (change)="onnationalitySelect2Change($event)" (search)="onnationalitySearch($event)" placeholder="{{ 'AidRequestsResourceName.nationality' | translate }}">
                      </ng-select>
                    </div>
                  </ng-container>

                  <ng-select [items]="monthsList" bindValue="id" [(ngModel)]="selectedmonthId" [multiple]="true"
                             [closeOnSelect]="true" class="ng-select-custom" placeholder="{{'sponsorshipchart.month' |translate}}" style="width: calc(100% - 70px);">

                    <ng-template ng-option-tmp let-item="item">
                      {{ lang === 'ar' ? item.text : item.textEn }}
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      {{ lang === 'ar' ? item.text : item.textEn }}
                      <span class="ng-value-icon left" (click)="clear(item)">x</span>
                    </ng-template>

                  </ng-select>

                  <button class="btn btn-gold" (click)='onTypeChange(selectedChart1, "categories2", "seriesData2")'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z" fill="white" />
                    </svg>
                    {{ 'Common.Search' | translate }}
                  </button>

                </div>
                <div class=" mb-4" *ngIf="defaultChartType == 'noofsponsorsbyentityandtypeofsponsorship'">
                     <ng-select [items]="officesList" bindLabel="text" bindValue="id" [(ngModel)]="selectedOffice"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart2, "categories3", "seriesData3")' placeholder="{{'office'|translate}}">
                        </ng-select>
                </div>


                <ng-container *ngIf="seriesData2.length">
                    <app-bar-chart [categories]="categories2" [seriesData]="seriesData2" [useDynamicColors]="true">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

        <div class="col-xl-6 mb-3 h-100" *ngIf="seriesData3.length || defaultChartType == 'General'">
            <div class="main-container">
                <!-- <div class="row mb-3">
                    <div class="col-xl-8 mb-3" *ngIf="defaultChartType == 'General'">
                        <label class="form-label">Type</label>
                        <ng-select [items]="chartTypes" bindLabel="text" bindValue="id" [(ngModel)]="selectedChart2"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart2, "categories3", "seriesData3")'>
                        </ng-select>
                    </div>
                </div> -->
                <ng-container *ngIf="seriesData3.length">
                    <app-bar-chart [categories]="categories3" [seriesData]="seriesData3" [chartType]="'line'" [useDynamicColors]="true">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>
    </div>
</div>
