<!-- <div class="header">
    {{pageTitle|translate}}
</div> -->
<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-xl-6 mb-3">
            <div class="main-container h-100">
                <ng-container *ngIf="!isComparission">

                    <div class="row mb-3">
                        <div class="col-1">
                            <label class="form-label mr-2">{{"sponsorshipchart.year"|translate}}</label>
                        </div>
                        <div class="col-8">
                            <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                                [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange()">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row  ">
                        <div class="col-1 mb-3">
                            <label class="form-label mr-2">{{"sponsorshipchart.entity"|translate}}</label>
                        </div>
                        <div class="col-8">
                            <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                                [closeOnSelect]="true" class="ng-select-custom" (change)="onYearChange('changeEntit')">
                            </ng-select>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="isComparission">
                    <div class="row  ">
                        <div class="col-2 mb-3">
                            <label class="form-label mr-2">{{ 'FinancialCharts.entity' | translate }}</label>
                        </div>
                        <div class="col-5">
                            <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                                [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="4"
                                (change)="onEntityChange(4,'selectedEntity')">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <label class="form-label mr-2">{{ 'FinancialCharts.year' | translate }}</label>
                        </div>
                        <div class="col-5 my-1">
                            <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                                [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="2"
                                (change)="onEntityChange(2,'selectedYearId')">
                            </ng-select>
                        </div>
                        <button class="col-1 btn btn-info my-1"
                            [disabled]="!(selectedYearId.length&&selectedEntity.length)"
                            (click)="onYearChange('', 13)">{{ 'FinancialCharts.start' | translate }}</button>
                    </div>
                    <div class="row mb-3" *ngIf="defaultChartType == 'comparisonofCasesbytypeofsponsorship'">

                        <div class="col-2">
                            <label class="form-label mr-2">
                                {{ 'sponsorshipchart.byTypeOfSponsorship' | translate }}
                            </label>
                        </div>
                        <div class="col-8">

                            <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                [(ngModel)]="selectedsponsorshipCategory" [closeOnSelect]="true"
                                class="ng-select-custom">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="defaultChartType == 'comparisonofCasesbyofficeoftheEntity'">

                        <label class="form-label mr-2">
                            {{ 'sponsorshipchart.byEntityOffice' | translate }}
                        </label>
                        <div class="col-8">

                            <ng-select [items]="officesList" bindLabel="text" bindValue="id"
                                [(ngModel)]="selectedSponsorOffice" [closeOnSelect]="true" class="ng-select-custom">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="defaultChartType == 'comparisonofCasesaccordingtonationality'">


                        <label class="form-label">{{ 'AidRequestsResourceName.nationality' | translate }}</label>
                        <ng-select class="ng-select-custom" name="nationalitySelect2"
                            [(ngModel)]="selectednationalitySelect2Obj" [items]="nationalitySelect2" bindLabel="text"
                            bindValue="id" [typeahead]="nationalitySearchInput$" [loading]="loadingnationality"
                            [virtualScroll]="true" (scrollToEnd)="loadMorenationality()"
                            (change)="onnationalitySelect2Change($event)" (search)="onnationalitySearch($event)">
                        </ng-select>
                    </div>


                </ng-container>
                <ng-container *ngIf="seriesData.length">
                    <app-bar-chart [categories]="categories" [seriesData]="seriesData">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

        <div class="col-xl-6 mb-3 h-100">
            <div class="main-container">
                <div class="row mb-3" *ngIf="defaultChartType == 'General'">
                    <div class="col-xl-8 mb-3">
                        <label class="form-label">Type</label>
                        <ng-select [items]="chartTypes" bindLabel="text" bindValue="id" [(ngModel)]="selectedChart1"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart1, "categories2", "seriesData2")'>
                        </ng-select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label class="form-label mr-2">{{'sponsorshipchart.month' |translate}}</label>
                    </div>
                    <div class="col-5 my-1"> 
                        <ng-select [items]="monthsList" bindValue="id" [(ngModel)]="selectedmonthId" [multiple]="true"
                            [closeOnSelect]="true" class="ng-select-custom">

                            <ng-template ng-option-tmp let-item="item">
                                {{ currentLang === 'ar' ? item.text : item.textEn }}
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                {{ currentLang === 'ar' ? item.text : item.textEn }}
                                <span class="ng-value-icon left" (click)="clear(item)">x</span>
                            </ng-template>

                        </ng-select>


                    </div>
                    <button class="col-1 btn btn-info my-1"
                        (click)='onTypeChange(selectedChart1, "categories2", "seriesData2")'>{{ 'FinancialCharts.start' | translate }}</button>
                </div>
                <div class="row mb-3" *ngIf="defaultChartType == 'noofsponsorsbyentityandtypeofsponsorship'">
                    <div class="col-xl-8 mb-3">
                        <label class="form-label">{{'office'|translate}}</label>
                        <ng-select [items]="officesList" bindLabel="text" bindValue="id" [(ngModel)]="selectedOffice"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart2, "categories3", "seriesData3")'>
                        </ng-select>
                    </div>
                </div>


                <ng-container *ngIf="seriesData2.length">
                    <app-bar-chart [categories]="categories2" [seriesData]="seriesData2">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

        <div class="col-xl-6 mb-3 h-100" *ngIf="seriesData3.length || defaultChartType == 'General'">
            <div class="main-container">
                <!-- <div class="row mb-3">
                    <div class="col-xl-8 mb-3" *ngIf="defaultChartType == 'General'">
                        <label class="form-label">Type</label>
                        <ng-select [items]="chartTypes" bindLabel="text" bindValue="id" [(ngModel)]="selectedChart2"
                            [closeOnSelect]="true" class="ng-select-custom"
                            (change)='onTypeChange(selectedChart2, "categories3", "seriesData3")'>
                        </ng-select>
                    </div>
                </div> -->
                <ng-container *ngIf="seriesData3.length">
                    <app-bar-chart [categories]="categories3" [seriesData]="seriesData3" [chartType]="'line'">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>
    </div>
</div>