<ng-container *ngIf="chartOptionsBar">
  <div class="chart-wrapper" (click)="onChartClick($event)">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptionsBar"
      (chartInstance)="addComponentRef($event)"
    ></highcharts-chart>
  </div>

  <div class="preview-backdrop" *ngIf="isPreviewOpen" (click)="closePreview()">
    <div class="preview-container" (click)="$event.stopPropagation()">
      <button type="button" class="close-btn" (click)="closePreview()">×</button>
      <div class="preview-header">
        {{ pageTitle | translate }}
      </div>
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="chartOptionsBar"
                        (chartInstance)="addPreviewComponentRef($event)">
      </highcharts-chart>
    </div>
  </div>
</ng-container>
