 <!-- <div class="container mt-5">
      <h1>{{ 'HELLO' | translate }}</h1>
      <button class="btn btn-primary mt-3" (click)="toggleLang()">
        {{ 'LANG' | translate }}
      </button>
    </div> -->
    <router-outlet></router-outlet>
<ngx-spinner
bdColor="rgba(0,0,0,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple"
[fullScreen]="true">
</ngx-spinner>

<!-- <button class="btn btn-success" (click)="showSuccess()">عرض نجاح</button>
<button class="btn btn-danger" (click)="showError()">عرض خطأ</button> -->


<!-- Modal Change Password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="changePasswordModalLabel"> {{ 'navbarMenu.changePWD' | translate }}</h1>
        <button type="button" class="changepassword btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm">
          <!-- Current Password -->
          <div class="col-12 mb-3">
            <label for="currentPassword" class="form-label"> {{ 'navbarMenu.currentPWD' | translate }}</label>
            <div class="input-group">
              <input [type]="showCurrentPassword ? 'text' : 'password'" id="currentPassword" class="form-control"
                     [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.touched || submitted)}"
                     formControlName="currentPassword" placeholder="Enter current password" />
              <button type="button" class="btn btn-outline-secondary"
                      style="background-color: #F7F7F7 !important; border:none  !important;"
                      (click)="showCurrentPassword = !showCurrentPassword">
                <i class="fa" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'icon-frame-view'"></i>
              </button>
            </div>
            <div *ngIf="changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.touched || submitted)"
                 class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">
                {{ 'navbarMenu.currentPWDReq' | translate }}
              </div>
              <div *ngIf="changePasswordForm.get('currentPassword')?.errors?.['minlength']">
                {{ 'navbarMenu.changePWDReq' | translate }}
              </div>
            </div>
          </div>

          <!-- Password -->
          <div class="col-12 mb-3">
            <label for="password" class="form-label">{{ 'PASSWORD' | translate }}</label>
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                     [ngClass]="{'is-invalid': changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.touched || submitted)}"
                     formControlName="newPassword" placeholder="{{ 'ENTER_PASSWORD' | translate }}" />
              <button type="button" class="btn btn-outline-secondary"
                      style="background-color: #F7F7F7 !important; border:none  !important;"
                      (click)="showPassword = !showPassword">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'icon-frame-view'"></i>
              </button>
            </div>
            <div class="form-text text-muted small"
                 *ngIf="(changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)&& changePasswordForm.get('newPassword')?.invalid">
              {{ 'PASSWORD_GUIDELINES' | translate }}
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || submitted)"
                 class="invalid-feedback">
              <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">
                {{ 'PASSWORD_REQUIRED' | translate }}
              </div>
              <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
                {{ 'PASSWORD_MIN_LENGTH' | translate }}
              </div>
              <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">
                {{ 'PASSWORD_PATTERN' | translate }}
              </div>
            </div>
          </div>


          <!-- Confirm Password -->
          <div class="col-12 mb-3">
            <label for="confirmPassword" class="form-label">
              {{'CONFIRM_PASSWORD' | translate
              }}
            </label>
            <div class="input-group">

              <input [type]="showCPassword ? 'text' : 'password'" id="confirmPassword" class="form-control"
                     [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.touched || submitted)}"
                     formControlName="confirmPassword" placeholder="{{ 'ENTER_CONFIRM_PASSWORD' | translate }}" />
              <button type="button" class="btn btn-outline-secondary"
                      style="background-color: #F7F7F7 !important; border:none  !important;"
                      (click)="showCPassword = !showCPassword">
                <i class="fa" [ngClass]="showCPassword ? 'fa-eye-slash' : 'icon-frame-view'"></i>
              </button>
            </div>
            <div class="form-text text-success small" *ngIf="showPasswordMatch()">
              {{ 'PASSWORDS_MATCH' | translate }}
            </div>

            <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.touched || submitted)"
                 class="invalid-feedback">
              {{ 'CONFIRM_PASSWORD_REQUIRED' | translate }}
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-bs-dismiss="modal"> {{ 'Common.cancel' | translate }}</button>
        <button type="button" class="btn btn-gold" (click)="submitChangePassword()">
          {{ 'navbarMenu.changePWD' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
