<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="title">{{ 'AuthenticationResorceName.titleUser' | translate }}</h1>
    <button class="btn btn-gold" data-bs-toggle="modal" data-bs-target="#Users" (click)="openAddModal()">
      {{ 'Common.addNew' | translate }}
    </button>

  </div>

  <div class="filter mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="filter-title mb-0">{{ 'Common.SearchTitle' | translate }}</h4>
      <button class="btn btn-filter" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M17.7499 6.31657H13.0999C12.7749 6.31657 12.5166 6.05824 12.5166 5.73324C12.5166 5.40824 12.7749 5.1499 13.0999 5.1499H17.7499C18.0749 5.1499 18.3333 5.40824 18.3333 5.73324C18.3333 6.05824 18.0749 6.31657 17.7499 6.31657Z"
                fill="" />
          <path d="M5.35033 6.31657H2.25033C1.92533 6.31657 1.66699 6.05824 1.66699 5.73324C1.66699 5.40824 1.92533 5.1499 2.25033 5.1499H5.35033C5.67533 5.1499 5.93366 5.40824 5.93366 5.73324C5.93366 6.05824 5.66699 6.31657 5.35033 6.31657Z"
                fill="" />
          <path d="M8.44987 9.02523C10.2678 9.02523 11.7415 7.5515 11.7415 5.73356C11.7415 3.91562 10.2678 2.44189 8.44987 2.44189C6.63193 2.44189 5.1582 3.91562 5.1582 5.73356C5.1582 7.5515 6.63193 9.02523 8.44987 9.02523Z"
                fill="" />
          <path d="M17.7497 14.8415H14.6497C14.3247 14.8415 14.0664 14.5831 14.0664 14.2581C14.0664 13.9331 14.3247 13.6748 14.6497 13.6748H17.7497C18.0747 13.6748 18.3331 13.9331 18.3331 14.2581C18.3331 14.5831 18.0747 14.8415 17.7497 14.8415Z"
                fill="" />
          <path d="M6.90033 14.8415H2.25033C1.92533 14.8415 1.66699 14.5831 1.66699 14.2581C1.66699 13.9331 1.92533 13.6748 2.25033 13.6748H6.90033C7.22533 13.6748 7.48366 13.9331 7.48366 14.2581C7.48366 14.5831 7.21699 14.8415 6.90033 14.8415Z"
                fill="" />
          <path d="M11.5505 17.5584C13.3684 17.5584 14.8421 16.0847 14.8421 14.2668C14.8421 12.4488 13.3684 10.9751 11.5505 10.9751C9.73252 10.9751 8.25879 12.4488 8.25879 14.2668C8.25879 16.0847 9.73252 17.5584 11.5505 17.5584Z"
                fill="" />
        </svg>
      </button>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">

        <!-- <div class="row mb-3">
            <div class="col-xl-4 mb-3">
                <label for="username" class="form-label">Username </label>
                            <input type="text" class="form-control" id="username" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="searchValue">
            </div>
        </div> -->
        <div class="row mb-3">
          <!-- Username -->
          <div class="col-xl-4 mb-3">
            <label for="username" class="form-label">{{ 'AuthenticationResorceName.name' | translate }}</label>
            <input type="text" class="form-control" id="username" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="filterUserCriteria.name" />
          </div>
          <!-- User ID -->
          <div class="col-xl-4 mb-3">
            <label for="userID" class="form-label">{{ 'AuthenticationResorceName.id' | translate }}</label>
            <input type="text" class="form-control" id="userID" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="filterUserCriteria.idNumber" />
          </div>

          <!-- Entity Info ID -->
          <div class="col-xl-4 mb-3">
            <label class="form-label">{{ 'AuthenticationResorceName.entityInfo' | translate }}</label>
            <ng-select [items]="entitiesInfo" bindLabel="text" bindValue="id" [multiple]="false"
                       [closeOnSelect]="true" [(ngModel)]="filterUserCriteria.entityInfoId"
                       class="ng-select-custom">
            </ng-select>
          </div>

          <!-- Entity ID -->
          <div class="col-xl-4 mb-3">
            <label class="form-label">{{ 'AuthenticationResorceName.entity' | translate }}</label>
            <ng-select [items]="entities" bindLabel="text" bindValue="id" [multiple]="false"
                       [closeOnSelect]="true" [(ngModel)]="filterUserCriteria.entityId" class="ng-select-custom">
            </ng-select>
          </div>

          <!-- User Status -->
          <div class="col-xl-4 mb-3">
            <label class="form-label">{{ 'AuthenticationResorceName.userStatusName' | translate }}</label>
            <ng-select [items]="userStatusOptions" bindLabel="text" bindValue="id" [multiple]="false"
                       [closeOnSelect]="true" [(ngModel)]="filterUserCriteria.userStatus" class="ng-select-custom">
            </ng-select>
          </div>

          <!-- User Types -->
          <div class="col-xl-4 mb-3">
            <label class="form-label">{{ 'AuthenticationResorceName.userTypeName' | translate }}</label>
            <ng-select [items]="userTypesOptions" bindLabel="text" bindValue="id" [multiple]="false"
                       [closeOnSelect]="true" [(ngModel)]="filterUserCriteria.userType" class="ng-select-custom">
            </ng-select>
          </div>

          <!-- Apply Date -->
          <div class="col-xl-4 mb-3">
            <label class="form-label">{{ 'AuthenticationResorceName.applyDate' | translate }}</label>
            <input type="date" class="form-control" [(ngModel)]="filterUserCriteria.applyDate"
                   placeholder="{{ 'AuthenticationResorceName.selectDate' | translate }}" />
          </div>
          <div class="col-xl-4 mb-3">
            <label for="username" class="form-label">{{ 'AuthenticationResorceName.userName' | translate }}</label>
            <input type="text" class="form-control" id="username" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="filterUserCriteria.searchValue">
          </div>
          <div class="col-xl-4 mb-3">
            <label for="organizationName" class="form-label">{{ 'AuthenticationResorceName.organization' | translate }}</label>
            <input type="text" class="form-control" id="organizationName" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="filterUserCriteria.foundationName">
          </div>
          <div class="col-xl-4 mb-3">
            <label for="LicenseNo" class="form-label">{{ 'AuthenticationResorceName.license' | translate }}</label>
            <input type="text" class="form-control" id="LicenseNo" placeholder="{{ 'Common.Search' | translate }}"
                   [(ngModel)]="filterUserCriteria.licenseNumber">
          </div>
        </div>


        <div class="d-flex gap-2 justify-content-center">
          <button class="btn btn-outline" (click)="clear()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z"
                    fill="#5B5B5B" />
            </svg>
            {{ 'Common.Clear' | translate }}
          </button>
          <button class="btn btn-gold" (click)="onSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z"
                    fill="white" />
            </svg>
            {{ 'Common.Search' | translate }}
          </button>
          <button class="btn btn-success" (click)="printExcel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M7.75 2V7.8H2C2 4.19 4.15 2.02 7.75 2Z" fill="white" />
              <path d="M22 7.8H16.25V2C19.85 2.02 22 4.19 22 7.8Z" fill="white" />
              <path d="M22 16.2998C21.96 19.8498 19.82 21.9798 16.25 21.9998V16.2998H22Z" fill="white" />
              <path d="M7.75 16.2998V21.9998C4.18 21.9798 2.04 19.8498 2 16.2998H7.75Z" fill="white" />
              <path d="M7.75 9.2998H2V14.7998H7.75V9.2998Z" fill="white" />
              <path d="M22 9.2998H16.25V14.7998H22V9.2998Z" fill="white" />
              <path d="M14.75 9.2998H9.25V14.7998H14.75V9.2998Z" fill="white" />
              <path d="M14.75 2H9.25V7.8H14.75V2Z" fill="white" />
              <path d="M14.75 16.2998H9.25V21.9998H14.75V16.2998Z" fill="white" />
            </svg>
            {{ 'Common.PrintExcel' | translate }}
          </button>

        </div>

      </div>
    </div>
  </div>

  <app-generic-data-table [columnDefs]="columnDefs"
                          [rowData]="loadgridData"
                          [totalCount]="pagination.totalCount"
                          [pageSize]="pagination.take"
                          [currentPage]="pagination.currentPage - 1"
                          [columnHeaderMap]="columnHeaderMap"
                          [rowActions]="rowActions"
                          (actionClick)="onTableAction($event)"
                          (pageChange)="onPageChange($event)"
                          [showActionColumn]="true"
                          (search)="onTableSearch($event)"
                          (languageChanged)="buildColumnDefs()">
  </app-generic-data-table>

  <div class="modal fade" id="Users" tabindex="-1" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="UsersLabel">{{ 'AuthenticationResorceName.userName' | translate }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="row">
              <!-- Name -->
              <div class="col-xl-6 mb-3">
                <label for="name" class="form-label">{{ 'NAME' | translate }}</label>
                <input type="text" id="name" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('name')?.invalid && (userForm.get('name')?.touched || submitted)}"
                       formControlName="name" placeholder="{{ 'ENTER_NAME' | translate }}" />
                <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'NAME_REQUIRED' | translate }}
                </div>
              </div>

              <!-- Name En -->
              <div class="col-xl-6 mb-3">
                <label for="nameEn" class="form-label">{{ 'NAME_EN' | translate }}</label>
                <input type="text" id="nameEn" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('nameEn')?.invalid && (userForm.get('nameEn')?.touched || submitted)}"
                       formControlName="nameEn" placeholder="{{ 'ENTER_NAME_EN' | translate }}" />
                <div *ngIf="userForm.get('nameEn')?.invalid && (userForm.get('nameEn')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'NAME_EN_REQUIRED' | translate }}
                </div>
              </div>

              <!-- UserName -->
              <div class="col-xl-6 mb-3">
                <label for="userName" class="form-label">{{ 'USERNAME' | translate }}</label>
                <input type="text" id="userName" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('userName')?.invalid && (userForm.get('userName')?.touched || submitted)}"
                       formControlName="userName" placeholder="{{ 'ENTER_USERNAME' | translate }}" />
                <div *ngIf="userForm.get('userName')?.invalid && (userForm.get('userName')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'USERNAME_REQUIRED' | translate }}
                </div>
              </div>

              <!-- Password -->
              <div class="col-xl-6 mb-3" *ngIf="mode === 'add'">
                <label for="password" class="form-label">{{ 'PASSWORD' | translate }}</label>
                <div class="input-group">
                  <input [type]="showPassword ? 'text' : 'password'" id="password"
                         class="form-control"
                         [ngClass]="{'is-invalid': userForm.get('password')?.invalid && (userForm.get('password')?.touched || submitted)}"
                         formControlName="password" placeholder="{{ 'ENTER_PASSWORD' | translate }}" />
                  <button type="button" class="btn btn-outline-secondary"
                          style="background-color: #F7F7F7 !important; border:none  !important;"
                          (click)="showPassword = !showPassword">
                    <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'icon-frame-view'"></i>
                  </button>
                </div>
                <div class="form-text text-muted small"
                     *ngIf="mode === 'add' && (userForm.get('password')?.dirty || userForm.get('password')?.touched)&& userForm.get('password')?.invalid">
                  {{ 'PASSWORD_GUIDELINES' | translate }}
                </div>
                <div *ngIf="userForm.get('password')?.errors && (userForm.get('password')?.touched || submitted)"
                     class="invalid-feedback">
                  <div *ngIf="userForm.get('password')?.errors?.['required']">
                    {{ 'PASSWORD_REQUIRED' | translate }}
                  </div>
                  <div *ngIf="userForm.get('password')?.errors?.['minlength']">
                    {{ 'PASSWORD_MIN_LENGTH' | translate }}
                  </div>
                  <div *ngIf="userForm.get('password')?.errors?.['pattern']">
                    {{ 'PASSWORD_PATTERN' | translate }}
                  </div>
                </div>
              </div>


              <!-- Confirm Password -->
              <div class="col-xl-6 mb-3" *ngIf="mode === 'add'">
                <label for="confirmPassword" class="form-label">
                  {{'CONFIRM_PASSWORD' | translate}}
                </label>
                <div class="input-group">

                  <input [type]="showCPassword ? 'text' : 'password'" id="confirmPassword"
                         class="form-control"
                         [ngClass]="{'is-invalid': userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.touched || submitted)}"
                         formControlName="confirmPassword"
                         placeholder="{{ 'ENTER_CONFIRM_PASSWORD' | translate }}" />
                  <button type="button" class="btn btn-outline-secondary"
                          style="background-color: #F7F7F7 !important; border:none  !important;"
                          (click)="showCPassword = !showCPassword">
                    <i class="fa" [ngClass]="showCPassword ? 'fa-eye-slash' : 'icon-frame-view'"></i>
                  </button>
                </div>
                <div class="form-text text-success small" *ngIf="showPasswordMatch()">
                  {{ 'PASSWORDS_MATCH' | translate }}
                </div>

                <div *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'CONFIRM_PASSWORD_REQUIRED' | translate }}
                </div>
              </div>

              <!-- Email -->
              <div class="col-xl-6 mb-3">
                <label for="email" class="form-label">{{ 'EMAIL' | translate }}</label>
                <input type="email" id="email" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('email')?.invalid && (userForm.get('email')?.touched || submitted)}"
                       formControlName="email" placeholder="{{ 'ENTER_EMAIL' | translate }}" />
                <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'INVALID_EMAIL' | translate }}
                </div>
              </div>

              <!-- Phone Number -->
              <div class="col-xl-6 mb-3">
                <label for="phoneNumber" class="form-label">{{ 'MOBILE' | translate }}</label>
                <input type="tel" id="phoneNumber" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.touched || submitted)}"
                       formControlName="phoneNumber" placeholder="{{ 'ENTER_MOBILE' | translate }}" />
                <div *ngIf="userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'MOBILE_INVALID' | translate }}
                </div>
              </div>

              <!-- Tel Number -->
              <div class="col-xl-6 mb-3">
                <label for="telNumber" class="form-label">{{ 'TELEPHONE' | translate }}</label>
                <input type="tel" id="telNumber" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('telNumber')?.invalid && (userForm.get('telNumber')?.touched || submitted)}"
                       formControlName="telNumber" placeholder="{{ 'ENTER_TELEPHONE' | translate }}" />
                <div *ngIf="userForm.get('telNumber')?.invalid && (userForm.get('telNumber')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'TELEPHONE_INVALID' | translate }}
                </div>
              </div>

              <!-- Address -->
              <div class="col-xl-12 mb-3">
                <label for="address" class="form-label">{{ 'ADDRESS' | translate }}</label>
                <textarea id="address" class="form-control" rows="3"
                          [ngClass]="{'is-invalid': userForm.get('address')?.invalid && (userForm.get('address')?.touched || submitted)}"
                          formControlName="address"
                          placeholder="{{ 'ENTER_ADDRESS' | translate }}"></textarea>
                <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.touched || submitted)"
                     class="invalid-feedback">
                  {{ 'ADDRESS_INVALID' | translate }}
                </div>
              </div>

              <!-- Gender -->
              <div class="col-xl-6 mb-3">
                <label for="gender" class="form-label">{{ 'GENDER' | translate }}</label>
                <select id="gender" class="form-select"
                        [ngClass]="{'is-invalid': userForm.get('gender')?.invalid && (userForm.get('gender')?.touched || submitted)}"
                        formControlName="gender">
                  <option [ngValue]="null">{{ 'SELECT' | translate }}</option>
                  <option [ngValue]="false">{{ 'MALE' | translate }}</option>
                  <option [ngValue]="true">{{ 'FEMALE' | translate }}</option>
                </select>
              </div>

              <!-- Country -->
              <div class="col-xl-6 mb-3">
                <label for="countryId" class="form-label">{{ 'COUNTRY' | translate }}</label>
                <!-- <select id="countryId" class="form-select"
                    [ngClass]="{'is-invalid': userForm.get('countryId')?.invalid && (userForm.get('countryId')?.touched || submitted)}"
                    formControlName="countryId">
                    <option value="">{{ 'SELECT' | translate }}</option>
                    <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
                    </option>
                </select> -->
                <ng-select [items]="countrySelect2" bindLabel="text" bindValue="id" [multiple]="false"
                           [closeOnSelect]="true" formControlName="countryId" class="ng-select-custom">
                </ng-select>
              </div>

              <!-- Employer -->
              <div class="col-xl-6 mb-3">
                <label for="entityIdInfo" class="form-label">{{ 'EMPLOYER' | translate }}</label>
                <select id="entityIdInfo" class="form-select"
                        [ngClass]="{'is-invalid': userForm.get('entityIdInfo')?.invalid && (userForm.get('entityIdInfo')?.touched || submitted)}"
                        formControlName="entityIdInfo">
                  <option value="">{{ 'SELECT' | translate }}</option>
                  <option *ngFor="let entity of entitiesInfo" [value]="entity.id">
                    {{ entity.text }}
                  </option>
                </select>
              </div>
              <!-- User Type -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="userType" class="form-label">{{ 'USER_TYPE' | translate }}</label>
                  <select id="userType" class="form-select"
                      [ngClass]="{'is-invalid': userForm.get('userType')?.invalid && (userForm.get('userType')?.touched || submitted)}"
                      formControlName="userType">
                      <option value="">{{ 'SELECT' | translate }}</option>
                      <option value="1">Type 1</option>
                      <option value="2">Type 2</option>
                  </select>
                  <div *ngIf="userForm.get('userType')?.invalid && (userForm.get('userType')?.touched || submitted)"
                      class="invalid-feedback">
                      {{ 'USER_TYPE_REQUIRED' | translate }}
                  </div>
              </div> -->
              <!-- Foundation Type -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="foundationType" class="form-label">{{ 'FOUNDATION_TYPE' | translate
                      }}</label>
                  <input type="text" id="foundationType" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('foundationType')?.invalid && (userForm.get('foundationType')?.touched || submitted)}"
                      formControlName="foundationType"
                      placeholder="{{ 'ENTER_FOUNDATION_TYPE' | translate }}" />
              </div> -->
              <!-- Foundation Name -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="foundationName" class="form-label">{{ 'FOUNDATION_NAME' | translate
                      }}</label>
                  <input type="text" id="foundationName" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('foundationName')?.invalid && (userForm.get('foundationName')?.touched || submitted)}"
                      formControlName="foundationName"
                      placeholder="{{ 'ENTER_FOUNDATION_NAME' | translate }}" />
              </div> -->
              <!-- License Number -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="licenseNumber" class="form-label">{{ 'LICENSE_NUMBER' | translate }}</label>
                  <input type="text" id="licenseNumber" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('licenseNumber')?.invalid && (userForm.get('licenseNumber')?.touched || submitted)}"
                      formControlName="licenseNumber"
                      placeholder="{{ 'ENTER_LICENSE_NUMBER' | translate }}" />
              </div> -->
              <!-- License End Date -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="licenseEndDate" class="form-label">{{ 'LICENSE_END_DATE' | translate
                      }}</label>
                  <input type="date" id="licenseEndDate" class="form-control"
                      formControlName="licenseEndDate" />
              </div> -->
              <!-- Civil ID -->
              <div class="col-xl-6 mb-3">
               
                <label for="civilId" class="form-label">{{ 'CIVIL_ID' | translate }}</label>
                <input type="text" id="civilId" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('civilId')?.invalid && (userForm.get('civilId')?.touched || submitted)}"
                       formControlName="civilId" placeholder="{{ 'ENTER_CIVIL_ID' | translate }}" />
              </div>

              <div class="col-xl-6 mb-3" *ngIf="mode === 'edit'">
                <label for="userStatus">{{ 'AuthenticationResorceName.userStatusName' | translate }}</label>
                <select id="userStatus" class="form-control" formControlName="userStatus">
                  <option value="2">فعال</option>
                  <option value="3">موقوف</option>
                </select>
              </div>



              <!-- Fax -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="fax" class="form-label">{{ 'FAX' | translate }}</label>
                  <input type="text" id="fax" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('fax')?.invalid && (userForm.get('fax')?.touched || submitted)}"
                      formControlName="fax" placeholder="{{ 'ENTER_FAX' | translate }}" />
              </div> -->
              <!-- Box No -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="boxNo" class="form-label">{{ 'BOX_NO' | translate }}</label>
                  <input type="text" id="boxNo" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('boxNo')?.invalid && (userForm.get('boxNo')?.touched || submitted)}"
                      formControlName="boxNo" placeholder="{{ 'ENTER_BOX_NO' | translate }}" />
              </div> -->
              <!-- Entity ID -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="entityId" class="form-label">{{ 'id' | translate }}</label>
                  <input type="text" id="entityId" class="form-control"
                      [ngClass]="{'is-invalid': userForm.get('entityId')?.invalid && (userForm.get('entityId')?.touched || submitted)}"
                      formControlName="entityId" placeholder="{{ 'ENTER_id' | translate }}" />
              </div> -->
              <!-- Apply Date -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="applyDate" class="form-label">{{ 'APPLY_DATE' | translate }}</label>
                  <input type="date" id="applyDate" class="form-control" formControlName="applyDate" />
              </div> -->
              <!-- User Status -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="userStatus" class="form-label">{{ 'USER_STATUS' | translate }}</label>
                  <select id="userStatus" class="form-select" formControlName="userStatus">
                      <option value="">{{ 'SELECT' | translate }}</option>
                      <option value="active">{{ 'ACTIVE' | translate }}</option>
                      <option value="inactive">{{ 'INACTIVE' | translate }}</option>
                  </select>
              </div> -->
              <!-- Service Type -->
              <!-- <div class="col-xl-6 mb-3">
                  <label for="serviceType" class="form-label">{{ 'SERVICE_TYPE' | translate }}</label>
                  <select id="serviceType" class="form-select" formControlName="serviceType">
                      <option value="">{{ 'SELECT' | translate }}</option>
                      <option value="type1">{{ 'TYPE_1' | translate }}</option>
                      <option value="type2">{{ 'TYPE_2' | translate }}</option>
                  </select>
              </div> -->
              <!-- Roles -->
              <!-- <div class="col-xl-12 mb-3">
                  <label for="roles" class="form-label">{{ 'ROLES' | translate }}</label>
                  <select id="roles" class="form-select" multiple
                      [ngClass]="{'is-invalid': userForm.get('roles')?.invalid && (userForm.get('roles')?.touched || submitted)}"
                      formControlName="roles">
                      <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                  </select>
                  <div *ngIf="userForm.get('roles')?.invalid && (userForm.get('roles')?.touched || submitted)"
                      class="invalid-feedback">
                      {{ 'ROLES_REQUIRED' | translate }}
                  </div>
              </div> -->

            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-gold" (click)="submit()">
            {{ mode === 'add' ? ('SAVE' | translate) : ('UPDATE' | translate) }}
          </button>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal Department -->
  <div class="modal fade" id="department" tabindex="-1" aria-labelledby="departmentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="departmentLabel">{{ 'AuthenticationResorceName.addDept' | translate }}</h1>
          <button type="button" class="closeDepartment btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userDepartmentForm">
            <div class="mb-3 relative-select">
              <label for="departments" class="form-label">Departments</label>
              <ng-select [items]="departments" bindLabel="text" bindValue="id" [multiple]="true"
                         [closeOnSelect]="true" formControlName="departmentIds" class="ng-select-custom">
              </ng-select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}</button>
          <button type="button" class="btn btn-gold" (click)="assignDepartments()">{{ 'Common.save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>




  <!-- Modal Entities-->
  <div class="modal fade" id="Entities" tabindex="-1" aria-labelledby="EntitiesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EntitiesLabel">{{ 'AuthenticationResorceName.entities' | translate }}</h1>
          <button type="button" class=" closeEntity btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userEntityForm">
            <div class="mb-3">
              <label for="departments" class="form-label">{{ 'AuthenticationResorceName.addEntities' | translate }}</label>
              <ng-select [items]="entities" bindLabel="text" bindValue="id" [multiple]="true"
                         [closeOnSelect]="true" formControlName="entityIds" class="ng-select-custom">
              </ng-select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}Cancel</button>
          <button type="button" class="btn btn-gold" (click)="assignIntities()">{{ 'Common.save' | translate }}Save</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editLabel">{{ 'AuthenticationResorceName.users' | translate }}</h1>
          <button type="button" class="users btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.name' | translate }}</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{ 'NAME' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.nameEn' | translate }}</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{ 'NAME_EN' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.userName' | translate }}</label>
              <input type="text" class="form-control" id="exampleFormControlInput1"
                     placeholder="{{ 'USERNAME' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.employer' | translate }}</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>{{ 'SELECT' | translate }}</option>
                <option value="1">{{ 'AuthenticationResorceName.optionOne' | translate }}</option>
                <option value="2">{{ 'AuthenticationResorceName.optionTwo' | translate }}</option>
                <option value="3">{{ 'AuthenticationResorceName.optionThree' | translate }}</option>
              </select>
            </div>

            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.email' | translate }}</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{ 'EMAIL' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.mobile' | translate }}</label>
              <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="{{ 'MOBILE' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.country' | translate }}</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>{{ 'SELECT' | translate }}</option>
                <option value="1">{{ 'AuthenticationResorceName.optionOne' | translate }}</option>
                <option value="2">{{ 'AuthenticationResorceName.optionTwo' | translate }}</option>
                <option value="3">{{ 'AuthenticationResorceName.optionThree' | translate }}</option>
              </select>
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.tele' | translate }}</label>
              <input type="tel" class="form-control" id="exampleFormControlInput1"
                     placeholder="{{ 'TELEPHONE' | translate }}">
            </div>
            <div class="col-xl-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label"> {{ 'AuthenticationResorceName.gender' | translate }}</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>{{ 'SELECT' | translate }}</option>
                <option value="1">{{ 'MALE' | translate }}</option>
                <option value="2">{{ 'FEMALE' | translate }}</option>
              </select>
            </div>
            <div class="col-xl-12 mb-3">
              <label for="exampleFormControlInput1" class="form-label">{{ 'AuthenticationResorceName.address' | translate }}</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <!-- <div class="col-xl-6 mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Is Change Password</label>
                </div>
            </div> -->



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}</button>
          <button type="button" class="btn btn-gold">{{ 'Common.save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteLabel">{{ 'Common.deletd' | translate }}</h1>
          <button type="button" class="btn-delete btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
                 fill="none">
              <path d="M87.7914 21.7916C81.0831 21.1249 74.3748 20.6249 67.6248 20.2499V20.2083L66.7081 14.7916C66.0831 10.9583 65.1664 5.20825 55.4164 5.20825H44.4998C34.7914 5.20825 33.8748 10.7083 33.2081 14.7499L32.3331 20.0833C28.4581 20.3333 24.5831 20.5833 20.7081 20.9583L12.2081 21.7916C10.4581 21.9583 9.20809 23.4999 9.37476 25.2083C9.54143 26.9166 11.0414 28.1666 12.7914 27.9999L21.2914 27.1666C43.1248 24.9999 65.1248 25.8333 87.2081 28.0416C87.3331 28.0416 87.4164 28.0416 87.5414 28.0416C89.1248 28.0416 90.4998 26.8333 90.6664 25.2083C90.7914 23.4999 89.5414 21.9583 87.7914 21.7916Z"
                    fill="#CA4832" />
              <path d="M80.1248 33.9167C79.1248 32.8751 77.7498 32.2917 76.3331 32.2917H23.6664C22.2498 32.2917 20.8331 32.8751 19.8748 33.9167C18.9164 34.9584 18.3748 36.3751 18.4581 37.8334L21.0414 80.5834C21.4998 86.9167 22.0831 94.8334 36.6248 94.8334H63.3748C77.9164 94.8334 78.4998 86.9584 78.9581 80.5834L81.5414 37.8751C81.6248 36.3751 81.0831 34.9584 80.1248 33.9167ZM56.9164 73.9584H43.0414C41.3331 73.9584 39.9164 72.5417 39.9164 70.8334C39.9164 69.1251 41.3331 67.7084 43.0414 67.7084H56.9164C58.6248 67.7084 60.0414 69.1251 60.0414 70.8334C60.0414 72.5417 58.6248 73.9584 56.9164 73.9584ZM60.4164 57.2917H39.5831C37.8748 57.2917 36.4581 55.8751 36.4581 54.1667C36.4581 52.4584 37.8748 51.0417 39.5831 51.0417H60.4164C62.1248 51.0417 63.5414 52.4584 63.5414 54.1667C63.5414 55.8751 62.1248 57.2917 60.4164 57.2917Z"
                    fill="#CA4832" />
            </svg>
            <h4 class="mt-3">{{ 'Common.deleteWarning' | translate }} </h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}</button>
          <button type="button" class="btn btn-gold" (click)="deleteUser()">{{ 'Common.deletd' | translate }}</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal permissions-->
  <div class="modal fade" id="permissions" tabindex="-1" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="UsersLabel">{{ 'AuthenticationResorceName.userPermission' | translate }}</h1>
          <button type="button" class="btn-close btn-close-user-permissions" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
       
        <div class="modal-body">
          <div>
            <form [formGroup]="filterForm" class="row mb-3">
              <!-- 1. Filter by Modules -->
              <div class="mb-3 col-xl-5">
                <!-- <label class="form-label">Filter by Module(s)</label> -->
                <ng-select [items]="moduleOptions" bindLabel="label" bindValue="value" [multiple]="true"
                           [closeOnSelect]="false" formControlName="selectedModules" class="ng-select-custom"
                           [placeholder]="filterForm.get('selectedModules')?'Filter by Module(s)':''">
                </ng-select>
              </div>

              <!-- 2. Filter by Screens -->
              <div class="mb-3 col-xl-5">
                <!-- <label class="form-label">Filter by Screen(s)</label> -->
                <ng-select [items]="filteredScreens" bindLabel="label" bindValue="value"
                           [multiple]="true" [closeOnSelect]="false" formControlName="selectedScreens"
                           class="ng-select-custom" placeholder="{{ 'AuthenticationResorceName.filterByScreens' | translate }}">
                </ng-select>
              </div>
              <div class="text-end mb-3 col-xl-2">
                <button type="button" class="btn btn-gold" (click)="applySearch()">
                  Apply Filter
                </button>
              </div>
            </form>

          </div>
          <table class="table new-table mb-3">
            <thead>
              <tr>
                <!-- <th>Screen Category</th> -->
                <th>{{"AuthenticationResorceName.screens"|translate}}</th>
                <th *ngFor="let p of availablePermissionActions">{{ p }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let module of filteredPermissions">
                <ng-container *ngFor="let screen of module.screenPermissions">
                  <tr>
                    <!-- <td>{{ module.moduleName }}</td> -->
                    <td>{{ screen.screenName }}</td>
                    <!-- <td *ngFor="let p of permissionTypes">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch"
                                [checked]="hasPermission(screen.permissionValues, p)"
                                (change)="onTogglePermission( $event, screen.screenName, p )" />
                        </div>
                    </td> -->
                    <td *ngFor="let p of availablePermissionActions">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               *ngIf="isPermissionAvailable(screen, p); else disabledSwitch"
                               [checked]="hasPermission(screen.permissionValues, p)"
                               (change)="onTogglePermission( $event, screen.screenName, p )" />
                        <ng-template #disabledSwitch>
                          <input class="form-check-input" type="checkbox" role="switch"
                                 style="cursor: not-allowed !important;" [disabled]="true" />
                        </ng-template>
                      </div>
                    </td>

                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}</button>
          <button type="button" class="btn btn-gold" (click)="saveUserPermissions()">{{ 'Common.save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Dashboard permissions-->
  <div class="modal fade" id="permissionsdashboard" tabindex="-1" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="UsersLabel">{{ 'Common.DASHBOARD_PERMISSIONS' | translate }}</h1>
          <button type="button" class="btn-close btn-close-dashboard-permissions" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
       
        <div class="modal-body">
          <div>
            <form [formGroup]="filterDasboardForm" class="row mb-3">
              <!-- 1. Filter by Modules -->
              <div class="mb-3 col-xl-5">
                <!-- <label class="form-label">Filter by Module(s)</label> -->
                <ng-select [items]="moduleDashboardOptions" bindLabel="label" bindValue="value" [multiple]="true"
                           [closeOnSelect]="false" formControlName="selectedModules" class="ng-select-custom"
                           [placeholder]="filterDasboardForm.get('selectedModules')?'Filter by Module(s)':''">
                </ng-select>
              </div>

              <!-- 2. Filter by Screens -->
              <div class="mb-3 col-xl-5">
                <!-- <label class="form-label">Filter by Screen(s)</label> -->
                <ng-select [items]="filteredDashboardScreens" bindLabel="label" bindValue="value"
                           [multiple]="true" [closeOnSelect]="false" formControlName="selectedScreens"
                           class="ng-select-custom" placeholder="{{ 'AuthenticationResorceName.filterByScreens' | translate }}">
                </ng-select>
              </div>
              <div class="text-end mb-3 col-xl-2">
                <button type="button" class="btn btn-gold" (click)="applySearch('filterDasboardForm','filteredDashboardPermissions','dashboardPermissions')">
                  Apply Filter
                </button>
              </div>
            </form>

          </div>
          <table class="table new-table mb-3">
            <thead>
              <tr>
                <!-- <th>Screen Category</th> -->
                <th>{{"AuthenticationResorceName.screens"|translate}}</th>
                <th *ngFor="let p of availableDashboardPermissionActions">{{ p }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let module of filteredDashboardPermissions">
                <ng-container *ngFor="let screen of module.screenPermissions">
                  <tr>
                    <!-- <td>{{ module.moduleName }}</td> -->
                    <td>{{ screen.screenName }}</td>
                    <!-- <td *ngFor="let p of permissionTypes">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch"
                                [checked]="hasPermission(screen.permissionValues, p)"
                                (change)="onTogglePermission( $event, screen.screenName, p )" />
                        </div>
                    </td> -->
                    <td *ngFor="let p of availableDashboardPermissionActions">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               *ngIf="isPermissionAvailable(screen, p); else disabledSwitch"
                               [checked]="hasPermission(screen.permissionValues, p)"
                               (change)="onTogglePermission( $event, screen.screenName, p,'dashboardPermissions' )" />
                        <ng-template #disabledSwitch>
                          <input class="form-check-input" type="checkbox" role="switch"
                                 style="cursor: not-allowed !important;" [disabled]="true" />
                        </ng-template>
                      </div>
                    </td>

                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.cancel' | translate }}</button>
          <button type="button" class="btn btn-gold" (click)="saveUserPermissions('dashboardPermissions','originalDashboardPermissions','.btn-close-dashboard-permissions')">{{ 'Common.save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Roles -->
  <div class="modal fade" id="rolesModal" tabindex="-1" aria-labelledby="rolesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="rolesLabel">{{ 'AuthenticationResorceName.titleRole' | translate }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <div *ngIf="userRoles?.length === 0">
              <p>No roles available</p>
          </div>
          <ul *ngIf="userRoles.length > 0">
              <li *ngFor="let role of userRoles">{{ role }}</li>
          </ul> -->
          @if(userRoles.length === 0){
          <div>
            <p>{{ 'AuthenticationResorceName.noOfRole' | translate }}</p>
          </div>
          }@else{
          <ul>
            <li *ngFor="let role of userRoles">{{ role }}</li>
          </ul>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-bs-dismiss="modal">{{ 'Common.Close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- view details modal -->
  <div class="modal fade" id="details" tabindex="-1" aria-labelledby="UsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h1 class="modal-title fs-5" id="UsersLabel">Title</h1> -->
          <button type="button" class="viewDetailsbtn btn-close" data-bs-dismiss="modal"
                  aria-label="Close">
            X
          </button>
        </div>
        <div class="modal-body">
          <div class="row mb-4">
            <div class="col-xl-4 col-lg-6" *ngIf="user?.userType == 2">
              <label class="bold black">{{ 'foundation_name' | translate }}</label>
              <p>{{ user?.foundationName || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6" *ngIf="user?.userType == 2">
              <label class="bold black">{{ 'foundation_type' | translate }}</label>
              <p>{{ user?.foundationType || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6" *ngIf="user?.userType == 2">
              <label class="bold black">{{ 'license_number' | translate }}</label>
              <p>{{ user?.licenseNumber || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6" *ngIf="user?.userType == 2">
              <label class="bold black">{{ 'license_end_date' | translate }}</label>
              <p>{{ user?.licenseEndDate || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'name_ar' | translate }}</label>
              <p>{{ user?.name || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'name_en' | translate }}</label>
              <p>{{ user?.nameEn || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'gender' | translate }}</label>
              <p>{{ user?.gender || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'box_number' | translate }}</label>
              <p>{{ user?.boxNo || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'civil_id' | translate }}</label>
              <p>{{ user?.civilId || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'email' | translate }}</label>
              <p>{{ user?.email || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'mobile_number' | translate }}</label>
              <p>{{ user?.phoneNumber || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'tel_number' | translate }}</label>
              <p>{{ user?.telNumber || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'fax' | translate }}</label>
              <p>{{ user?.fax || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'city' | translate }}</label>
              <p>{{ user?.cityId || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'country' | translate }}</label>
              <p>{{ user?.countryId || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'association' | translate }}</label>
              <p>{{ user?.entityId || '-' }}</p>
            </div>
            <div class="col-xl-4 col-lg-6">
              <label class="bold black">{{ 'address' | translate }}</label>
              <p>{{ user?.address || '-' }}</p>
            </div>
          </div>

          <div class="mb-4">
            <h4 class="bold gold">{{ 'attachments' | translate }}</h4>
            <app-attachment-gallery [attachments]="attachment"></app-attachment-gallery>
          </div>

          <div class="d-flex justify-content-center gap-2">
            <button type="button" class="btn btn-green"
                    *ngIf="user?.userStatus === 1 || user?.userStatus === 3 || user?.userStatus === 4"
                    (click)="updateUserStatus(2)">
              {{ 'activate_account' | translate }}
            </button>

            <button type="button" class="btn btn-red" *ngIf="user?.userStatus == 1"
                    (click)="updateUserStatus(4)">
              {{ 'reject_account' | translate }}
            </button>

            <button type="button" class="btn btn-secondary" *ngIf=" user?.userStatus === 2"
                    (click)="updateUserStatus(3)">
              {{ 'block_account' | translate }}
            </button>

          </div>
        </div>

        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-gold">Save</button>
            <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Close</button>

        </div> -->
      </div>
    </div>
  </div>





</div>
