<div class="header" *ngIf="pageTitle">
  {{'FinancialCharts.titleForReceiptPaymentComparission'|translate}}
</div>
<div class="container-fluid mt-3">

  <div class="row">
    <div class="col-xl-6 mb-3">
      <div class="main-container h-100">
        <div class="d-flex gap-3 w-100 mb-4">
           <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                       [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="4"
                       (change)="onEntityChange(4,'selectedEntity')" placeholder="{{'FinancialCharts.entity'|translate}}">
            </ng-select>

             <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                       [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="2"
                       (change)="onEntityChange(2,'selectedYearId')" placeholder="{{'FinancialCharts.year'|translate}}">
            </ng-select>

             <button class="col-1 btn btn-gold btn-chart" style="width: max-content; " [disabled]="!(selectedYearId.length&&selectedEntity.length)" (click)="onYearChange(1)">Start</button>

        </div>
      
        <div class=" mb-4" *ngIf="defaultChartType == 'receiptsByDepartment'||  defaultChartType == 'paymentsByDepartment'">
         <ng-select [items]="departmentList" bindLabel="text" bindValue="id"
                       [(ngModel)]="selectedDepartmentId" [closeOnSelect]="true"
                       class="ng-select-custom" placeholder="{{'FinancialCharts.department'|translate}}">
            </ng-select>
        </div>

        <div class=" mb-4" *ngIf="defaultChartType == 'receiptsByBranch'|| defaultChartType == 'paymentsByBranch'">
          <ng-select [items]="branchList" bindLabel="text" bindValue="id" [(ngModel)]="selectedBranchId"
                       [closeOnSelect]="true" class="ng-select-custom" placeholder="{{'FinancialCharts.branch'|translate}}">
            </ng-select>
        </div>

        <div class=" mb-4" *ngIf="defaultChartType == 'receiptsByAccount'|| defaultChartType == 'paymentsByAccount'">
           <ng-select [items]="accountList" bindLabel="text" bindValue="id" [(ngModel)]="selectedAccountId"
                       [closeOnSelect]="true" class="ng-select-custom" placeholder="{{'FinancialCharts.account'|translate}}">
            </ng-select>
        </div>

        <ng-container *ngIf="seriesData.length">
          <app-bar-chart [categories]="categoriees" [seriesData]="seriesData">
          </app-bar-chart>
        </ng-container>
      </div>
    </div>

    <div class="col-xl-6 mb-3 ">
      <div class="main-container h-100">
        <div class="d-flex gap-3 mb-4">
           <ng-select [items]="monthsList" placeholder="{{ 'FinancialCharts.month' | translate }}"
                       bindValue="id"
                       [(ngModel)]="selectedmonthId"
                       [multiple]="true"
                       [closeOnSelect]="true"
                       class="ng-select-custom w-100">
              <ng-template ng-option-tmp let-item="item">
                {{ currentLang === 'ar' ? item.text : item.textEn }}
              </ng-template>
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                {{ currentLang === 'ar' ? item.text : item.textEn }}
                <span class="ng-value-icon left" (click)="clear(item)">x</span>
              </ng-template>
            </ng-select>

                <button class="btn btn-gold btn-chart" (click)="onYearChange(2)">
              {{ 'FinancialCharts.start' | translate }}
            </button>
        </div>
          <ng-container *ngIf="seriesData2.length">
                    <app-bar-chart [categories]="categoriees2" [seriesData]="seriesData2">
                    </app-bar-chart>
                </ng-container>
      </div>
    </div>
 
  </div>
</div>
