<div class="header" *ngIf="pageTitle">
    {{pageTitle|translate}}
</div>
<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-xl-6 mb-3">
            <div class="main-container h-100">
                <div class="d-flex gap-3 mb-3">
                   <ng-select [items]="entities" bindLabel="text" bindValue="id" [(ngModel)]="selectedEntity"
                            [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="4"
                            (change)="onEntityChange(4,'selectedEntity')" placeholder="{{ 'FinancialCharts.entity' | translate }}">
                        </ng-select>

                         <ng-select [items]="yearsList" bindLabel="text" bindValue="id" [(ngModel)]="selectedYearId"
                            [multiple]="true" [closeOnSelect]="true" class="ng-select-custom" [maxSelectedItems]="2"
                            (change)="onEntityChange(2,'selectedYearId')" placeholder="{{ 'FinancialCharts.year' | translate }}">
                        </ng-select>
                        <button class="btn btn-gold btn-chart" [disabled]="!(selectedYearId.length&&selectedEntity.length)" (click)="onYearChange(1)">Start</button>

                </div>
               
                <div class=" mb-3" *ngIf="defaultChartType == 'revenueByDepartment'||  defaultChartType == 'expensesByDepartment'">
                     <ng-select [items]="departmentList" bindLabel="text" bindValue="id"
                            [(ngModel)]="selectedDepartmentId" [closeOnSelect]="true"
                            class="ng-select-custom" placeholder="Department">
                        </ng-select>
                </div>
                <div class=" mb-3" *ngIf="defaultChartType == 'revenueByBranch'|| defaultChartType == 'expensesByBranch'">
                         <ng-select [items]="branchList" bindLabel="text" bindValue="id" [(ngModel)]="selectedBranchId"
                            [closeOnSelect]="true" class="ng-select-custom" placeholder="Branch">
                        </ng-select>
                </div>
                <div class=" mb-3" *ngIf="defaultChartType == 'revenueByAccount'|| defaultChartType == 'expensesByAccount'">
                      <ng-select [items]="accountList" bindLabel="text" bindValue="id" [(ngModel)]="selectedAccountId"
                            [closeOnSelect]="true" class="ng-select-custom" placeholder="Account">
                        </ng-select>
                </div>
                <!-- *ngIf="seriesData.length" -->
                <ng-container *ngIf="seriesData.length">
                    <app-bar-chart [categories]="categoriees" [seriesData]="seriesData">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

        <div class="col-xl-6 mb-3 ">
            <div class="main-container h-100">
                <div class="d-flex gap-3 mb-3">
                    <ng-select [items]="monthsList" bindValue="id" [(ngModel)]="selectedmonthId" [multiple]="true" placeholder="Month" style=" min-width: 67%;"
                            [closeOnSelect]="true" class="ng-select-custom">

                            <ng-template ng-option-tmp let-item="item">
                                {{ currentLang === 'ar' ? item.text : item.textEn }}
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                {{ currentLang === 'ar' ? item.text : item.textEn }}
                                <span class="ng-value-icon left" (click)="clear(item)">x</span>
                            </ng-template>

                        </ng-select>

                    <button class="btn btn-gold btn-chart" (click)="onYearChange(2)">Start</button>
                </div>
                <ng-container *ngIf="seriesData2.length">
                    <app-bar-chart [categories]="categoriees2" [seriesData]="seriesData2">
                    </app-bar-chart>
                </ng-container>
            </div>
        </div>

    </div>
</div>
